<template name="contact">
	
	<!--start container-->
	<div class="container">
		<div class="content_page_contact">
			<div class="col-xs-12 col-lg-6 col-md-6">
					<form class="form-horizontal" method="post">
						<fieldset>
							<h1>Send us a mail</h1>
							<div class="form-group">
								<div class="col-xs-8 col-lg-8 col-md-8 ">
									<label>Name</label>
									<input id="fname" name="name" type="text" class="form-control" style=" border: 1px solid black; border-radius:0px;">
								</div>
							</div>
							<div class="form-group">
								
								<div class="col-xs-8 col-lg-8 col-md-8">
								<label>Subject</label>
									<input id="lname" name="name" type="text" class="form-control" style=" border: 1px solid black; border-radius:0px;">
								</div>
							</div>

							<div class="form-group">
								
								<div class="col-xs-8 col-lg-8 col-md-8">
								<label>Email</label>
									<input id="email" name="email" type="text" class="form-control" style=" border: 1px solid black; border-radius:0px;">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12 col-lg-12 col-md-12">
								<label>Message</label>
									<textarea class="form-control" id="message" name="message" rows="4" style=" border: 1px solid black; border-radius:0px;"></textarea>
								</div>
							</div>
						</fieldset>
					</form>
				
			</div>
			<div class="col-xs-12 col-lg-6 col-md-6">
				 <img class="img-responsive center-left" src="images/contact.png" style=" width:360px;  margin-top:40px;">
			</div>
		</div>
	</div>
	
<!--/end container-->
</template>