<template name="checkout">
<!--start container-->
	<div class="container">
		<div class="content_page_checkout">
			<h1 style="color:#412419; font-weight:bold;">Shopping Cart</h1>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					
					<div class="row">
						<div class="col-xs-3 box col-xs-offset-6">
							<p class="text-left" style="color:#412419; font-weight:bold; font-size:18px;">Quantity</p>
						</div>
						<div class="col-xs-2">
							<p class="text-right" style="color:#412419; font-weight:bold; font-size:18px;">Price</p>
						</div>
					</div>
					<div class="clearfix"></div>
					{{#each getPro }}
					<hr style="border:2px solid #412419">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-xs-6 col-sm-3 col-lg-2">
								<img src="upload/{{getImage image}}" class="img-responsive center-block" alt="" style="margin: 10px 0px 0px -15px;" width="130" height="130">
								<div style="padding:5px 0px 15px 0px;"></div>
							</div>
							<div class="col-xs-6 col-sm-3 col-lg-4">
								<div class="title text-left" style="color:#42210B;">{{title}}</div>
								<div class="text-left" style="color:#808083; margin-top:20px;">A product from channel</div>
							</div>
							<div class="col-xs-6 col-sm-2 col-lg-2 select_checkout">
								<form role="form">
									<select id="selectQty" name="select_{{id}}" style="border-radius:5px; width:80px; border:2px solid #42210B;">
										<option selected value="{{quantity}}" style="display: none;">{{quantity}}</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</form>
							</div>
							<div class="col-xs-6 col-sm-2 col-lg-2 pull-right price-checkout">
								<h4 style="color:#412419; font-weight:bold; font-size:18px;">${{price}}</h4>
							</div>

						</div>
					</div>
					<span id="btnDelete" style="cursor:pointer;margin-left:30px; " class=" glyphicon glyphicon-remove"></span>
					{{/each}}
					<hr style="border:2px solid #412419">
					<div class="col-xs-12 col-sm-12 col-lg-12">
						<p class="text-left">
							The price and availability on Amazon are subject to change . The basket is a temporary place in which is stored a list of yourarticles and which reects the latest price of each item .
							<br>
							<br>
							You have a gift voucher or a voucher ? We will ask you to enter your code at checkout .
						</p>	
					</div>
				</div>
					<!--{{#each getSub}}-->
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="well" style="background:#F0E0C4;border-radius:0px; border:none">
						<div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
								<span  style="font-size:18px; font-weight:bold; color:#351D14;">Subtotal</span>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
								<span  class="text-left" style="font-size:18px; font-weight:bold; color:#351D14;">${{total.subTotal}}</span>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span  style="font-size:18px; font-weight:bold; color:#351D14;">Discount</span>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span class="text-left" style="font-size:18px; font-weight:bold; color:#351D14;">${{total.discount}}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="well" style="background:#F0E0C4; border-radius:0px; border:none">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span style="font-size:18px; font-weight:bold; color:#351D14;">Total</span>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
							<span class="text-left" style="font-size:18px; font-weight:bold; color:#351D14;">${{total.total}}</span>
						</div>
						<div class="clearfix"></div>
					</div>	
					<div class="col-lg-12">
						<a href="" class="pull-right" ><img class="center-right" src="images/btn_checkout.png"></a>
					</div>
				</div>
				<!--{{/each}}-->
			</div>	
			<br>
			<br>
			<!-- list like products -->
			<div class="row">
				<div class="col-lg-12">
				<h3 style="color:#41231A; font-weight:bold;">Customers who purchased an item that you have recently consulted also bought</h3>
				<br>
				<br>
				{{#each listpro}}
					<div class="col-xs-6 col-sm-3 col-lg-3 like_products">
						<img src="upload/{{getImage image}}" class="img-circle center-block" alt="" width="150" height="150">
						<div style="font-size:12px; padding:5px">
						<div class="title text-center" style="color:#412419;">{{title}}
							
							
							<a href="#" id="action">
							<span id="like_{{_id}}"  style="color:rgb(221, 42, 27); padding-left:15px;cursor:pointer;"  class="glyphicon glyphicon-heart like" aria-hidden="true"></span>
							</a>
							<a href="#" id="unaction">
							<span id="unlike_{{_id}}" style="color:rgb(128, 57, 99); padding-left:15px;cursor:pointer;" class="fa fa-heart-o" aria-hidden="true"></span>
							</a>
						
							
							
						</div>
						<div class="price text-center" style="color:#412419;">${{price}}</div>
						</div>
						<div style="padding:0px 20px 0px 20px">
							<a href="#" id="addtocart" class="" style="text-align:center; display:block;background:#412419;padding:7px 0px 7px 0px;color:#fff;text-decoration:none;"
							>Add to cart</a>
						</div>
					</div>
				{{/each}}
				</div>
			</div>
		</div>
	</div>
	<br><br>
<!--/end container-->
</template>