<template name="footer">
<div class="footer" id="footer">
	 <div class="container">
	  <div class="footer-main">
	   <p>Ce site est régi par des conditions d’utilisation expresses. En utilisant ce site, vous signiez que vous acceptez d’être lié à ces Conditions universelles.</p>
	   <div class="col-md-8"><p>Copyright © 1999 - 2015 GoDaddy Operating Company, LLC. Tous droits réservés.</p></div>
	   <div class="col-md-4 ">
	    <div class="social-icon">
	     <a href="#" target="_blank"><span class="fa fa-facebook fa-2x social-icon"></span></a>
	     <a href="#" target="_blank"><span class="fa fa-twitter fa-2x social-icon"></span></a>
	     <a href="#" target="_blank"><span class="fa fa-linkedin fa-2x social-icon"></span></a>
	     <a  href="#" target="_blank"><span class="fa fa-google-plus fa-2x social-icon"></span></a>
	    </div>
	   </div>
	  </div>
	 </div>
</div>
</template>