<template name="home">
	
<!--start container-->
	<section id="section_home">
		<div class="container">
			<a href="{{pathFor 'productlist'}}"><img src="images/all-product.png" class="center-block img-responsive"> </a>
		</div>  
	</section> 	
	<div class="clearfix"></div>
	<section id="section_home_1">
		<div class="container">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-lg-offset-2">
				<div class="well">
					<h5 style="color:#fff">Inscrit toi pour recevoir<br>une box</h5>
					<img src="images/box-small.png" class="center-block img-repsonsive">
					

					<h5 style="color:#fff">Inscrit toi pour recevoir<br>une box</h5>
					<img src="images/box-small1.png" class="center-block img-repsonsive">
					
					
					<p class="text-center" style="color:yellow; font-size:16px;font-weight:bold; text-align:center; padding-top:15px;">SUBSCRIBE</p>
					
				</div>
			</div>	
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 box-right">
				<img src="images/box-product2.png" class="img-repsonsive center-block">
			</div>	
		</div>
	</section>
<!--/end container-->
</template>